@{
    ViewBag.Title = "Home";
    ViewBag.Name = "Home";
}

<br />
<div class="page-header" style="color: steelblue">
    <h2>Gulf Ruby Tours & Travels</h2>
</div>
<div class="alert alert-info">
    <div class="alert-heading" style="font-size: 24px;">
        <p >
            Space for Notification / Updates / News
        </p>
    </div>
    
</div>
